 .contact_page h4 span
  {
    color: #6e06f2;
    margin-left: 3px;
  }
   .contact_page .buttons
{
    margin-top: 10px !important;
}
 .contact_page h4
 {
    color: #4e525a;
    margin-top: 30px;
    margin-left: 40px;
    text-transform: capitalize;
    margin-bottom: 0;
 }
 .links_h4
 {
    width: 100% !important;
    display: flex;
    /* align-items: center; */
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
 }
 .links
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    align-items: start;
}
.links i
{
    margin-left: 20px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #9056d9;
    border: 1px solid #6e06f2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.links i:hover
{
    color: #6e06f2;

}
.p_links
{
    margin-left: 20px;
}
/* .p_links  */
.p_links > div
{
    display: flex;
}
.links_photo
{
    display: grid !important;
    grid-template-columns: 57% 31%;
    justify-content: space-between;
    width: 100%;
    margin-left: 0% !important;
    align-items: center;
    margin-top: 10px !important;
}
.contact_page .img_border
{
    width: 220px;
    height: 220px;
}
.contact_page .img_border img
{
     width: 200px;
    height: 200px;
}
.contact_page >div
{
    margin-left: 40px;
    margin-top: 20px;
}
.contact_page >div a:hover
{
    color: #6e06f2;
}
.contact_page >div,
.contact_page >div a
{
    text-decoration: none;
    display: flex;
    /* align-items: center; */
    color: black;
    
}
.contact_page >div i
{
    margin-right: 10px;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.contact_page >div i:hover
{
    background-color: white;
   color: #6e06f2;
   border-color: #6e06f2;
}
.contact_page p
{
    width: 80% !important;
    line-height: 32px;
    font-size: 20px !important;
    margin-left: 0 !important;
}

@media(max-width:840px)
{
    .contact_page p
    {
        width: 100% 
        !important;
    }
}
@media(max-width:819px)
{
    .links_h4
    {
        display: grid;
        grid-template-columns: 70% 
    }
    .links_photo
    {
        display: flex !important;
    flex-direction: column-reverse;
    }
    .contact_page p
    {
        width: 80% 
        !important;
    }
}
@media (max-width: 650px) {
      .contact_page p
    {
        width: 90% 
        !important;
    }
}
@media(max-width:510px)
{
      .contact_page p
    {
        font-size: 18px !important;
     
    }
    .links_h4
    {
        /* display: grid; */
        grid-template-columns: 90% 
    }
    .contact_page h4,
    .contact_page >div
    {
        margin-left: 15px;
    }
    .contact_page .info .buttons
    {
        margin:10px 0 0  0 !important;
    }

}
@media(max-width:410px)
{
      .contact_page p
    {
        width: 100% 
        !important;
    }
    .links_h4
    {
        /* display: grid; */
        grid-template-columns: 98% ;
        margin-left: 0;
    }
    .contact_page  .p_links i
    {
        width: 30px !important;
    height: 25px !important;
    font-size: 16px;
    }
}
@media(max-width:350px)
{
      .contact_page p
    {
        font-size: 16px 
        !important;
    }
   .contact_page h4
   {
    font-size: 18px;
   }
}