.header {
    /* background-color: wheat; */
    padding-top: 15px;
}
.modes
{
    width: 90%;
    margin-left: 1%;
}
.dark_mode
{
    background-color: black !important;
}
.contact i
{
    /* background-color:#6c06f280; */
    /* color: black; */
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .dark
{
    color: black !important;
}
 .light
{
    color: white !important;
}
 .light_button
{
    color: white !important;
    border-color: white !important;
}
.light_button:hover
{
    background-color: white !important;
    color: black !important;
}
.light_text
{
    color: #b1b2b4 !important;
}
.light_icon
{
    background-color: white !important;
    color: black !important;
}
.box_shadow
{
    box-shadow: 0 4px 7px #6e06f299 !important;
    border-radius: 10px !important;
    padding: 10px;
}
.padding_mode
{
    padding-bottom: 17px !important;
}

.cont {
    display: grid
;
    grid-template-columns: 20% 60% 10%;
    margin-left: 2%;
    justify-content: space-between;
    padding-top: 1px;
    width: 95%;
    padding-bottom: 10px;
}
/* .logo {
    margin-top: 10px;
} */
.tog
{
    color: white !important;
}
.logo h1 {
    color: #fff;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
    color: black;
}
.logo a
{
     font-family: "Playfair Display", serif;
    text-decoration: none;
}
.logo h1:after {
    background-color: #6e06f2;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 7px;
   left: 68px;
    position: absolute;
    width: 7px;
}
.tabs a
{
    text-transform: capitalize;
    text-decoration: none;
    color: #4e525a;
    margin-left: 40px;
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.tabs a:hover{
    color: #6e06f2; 
}
.tabs .active1
{
    color: #6e06f2;
}
.tabs
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact
{
    display: flex;
    align-items: center;
    justify-content: end;
}
.contact a
{
    text-decoration: none;
    color: black;
}

.list_icon
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header .resize
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: unset;
}
.header .resize a
{
    margin-top: 20px;
}
@media(max-width:805px)
{
    .cont
    {
        grid-template-columns: 30% 60%;
    }
}